/*Navbar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F13E6A;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Sniglet", Sniglet, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.spanfont {
	    font-family: "Sniglet", Sniglet, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  font-family: "Sniglet", Sniglet, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


* {
  box-sizing: border-box
}
.mySlides1, 
.mySlides2,
.mySlides3,
.mySlides4, 
.mySlides5,
.mySlides6, 
.mySlides7,
.mySlides8{
  display: none;
}

.categories {
  display: flex;
  padding: 1.5em;
}

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category:nth-of-type(2) {
  margin: 0 1em;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Next & previous buttons */
.prev, 
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, 
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Text Styles */

.header {
    padding: 60px;
    text-align: center;
    background-color: #1abc9c;
    color: #000000;
    font-size: 24px;
    background-image: url(backgroundpink.png);
    font-family: "Sniglet", Sniglet, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.agree {
    font-family: "Sniglet", Sniglet, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    color: #000000;
    border-bottom: 3px solid pink;
    margin-left: 42px;
    margin-right: 42px;
}
.category1 {
    font-family: "Sniglet", Sniglet, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    color: #000000;
	border-bottom: 3px solid pink;
    margin-left: 42px;
    margin-right: 42px;
}

.a {
}
.ImagesFont {
	font-family: "Sniglet", Sniglet, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

